* {
  /*outline: 2px dotted orange;*/
  background-color: #FFE7C1;
  font-family: georgia;
  color: #002362;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: #fff;
}

.num-cookies {
  font-family: arial;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 55px;
  font-weight: bolder;
  margin-top: 50px;
}

 .about-cookies {
   font-style: italic;
 }

 h2 {
   margin-left: 20px;
 }

 #salmonCookiesTable {
   margin: auto;
 }

 #sales-header {
   text-align: left;
   font-weight: bolder;
   padding-left: 200px;
 }
